:root{
    --dark-blue: #1e084b;
    --blue: #3241ff;
    --blue-hover: #2935d6;
    --purple: #d28be6;
    --white: white;
    --black: black;
    --grey-aside: #191919;
    --grey-button: #222222;
    --grey-border: #393939;
}
@font-face{
    font-family: Lovelo;
    src: url("../font/Lovelo_Line_Bold.otf") format("opentype");
}
@font-face{
    font-family: AgrandirBold;
    src: url("../font/Agrandir-WideBlackItalic.otf") format("opentype");
}
@font-face{
    font-family: Agrandir;
    src: url("../font/Agrandir-WideLight.otf") format("opentype");
}
body{
    font-family: Agrandir;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    overflow-x: hidden;
}
/* Responsive */
@media screen and (max-width: 60rem) {
    body{
        flex-direction: column;
        overflow-y: scroll;
    } 
}